<p>¡Hola!</p><br/>
<p>El trámite de tu credencial del I.E.E ha sido realizada con éxito, no olvides votar la semana del 25 de junio al 1 de julio por el mejor candidato para mezclar con tequila. Sigue el proceso electoral y realiza tu voto a través de: http://www.facebook.com/JCEspecial y http://twitter.com/CuervoEspecial</p><br/>
<p>Por ser parte de estas elecciones, ¡Gracias por ser Especial!</p><br/>
<p>Te saluda el Instituto Especial Electoral</p>
<p>- Conocer es no excederse </p> 
