<div class="frame">
	<%= image_tag "liston_top.png" %>
	<%= image_tag "top_votacion.png" %> <br /> <br />
	<a href="users/auth/twitter" class="auth_provider">
	<%= image_tag "entraravotar.png", :alt => "Twitter login" %>
	</a>
</div>
