<div class="frame">
	<%= image_tag "liston_top.png" %>
	<%= image_tag "top_votacion.png" %>
	<a href="users/auth/twitter" class="auth_provider">
	<%= image_tag "botones/entra_votar.png", :alt => "Twitter login" %>
	</a>
</div>
