/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
body {
	background-color:#ffef00;
}

.limon{
	float: left;
	margin: 25px 15px 0 25px;
	background-image:url('mobile/limon_normal.png');
	width: 242px;
	height: 486px;
}

.limon_ganador{
	float: left;
	margin: 25px 15px 0 25px;
	background-image:url('mobile/limon_ganador.png');
	width: 242px;
	height: 486px;
}

.limon_perdedor{
	float: left;
	margin: 25px 15px 0 25px;
	background-image:url('mobile/limon_perdedor.png');
	width: 242px;
	height: 486px;
}

.liston_limon{
	width: 242px;
	height: 51px;
	margin-top: 410px;
	background-image:url('liston_limon.png');
}

.boton {
	padding-top: 250px;
	height: 81px;
}

.leyenda {
	padding-top: 50px;
}

.manzana{
	float: left;
	margin: 25px 15px 0 0;
	background-image:url('mobile/manzana_normal.png');
	width: 242px;
	height: 486px;
}

.manzana_ganador{
	float: left;
	margin: 25px 15px 0 0;
	background-image:url('mobile/manzana_ganador.png');
	width: 242px;
	height: 486px;
}

.manzana_perdedor{
	float: left;
	margin: 25px 15px 0 0;
	background-image:url('mobile/manzana_perdedor.png');
	width: 242px;
	height: 486px;
}

.liston_manzana{
	width: 242px;
	height: 51px;
	margin-top: 410px;
	background-image:url('liston_manzana.png');
}

.toronja{
	float: left;
	margin: 25px 35px 0 0;
	background-image:url('mobile/toronja_normal.png');
	width: 242px;
	height: 486px;	
}

.toronja_ganador{
	float: left;
	margin: 25px 35px 0 0;
	background-image:url('mobile/toronja_ganador.png');
	width: 242px;
	height: 486px;	
}

.toronja_perdedor{
	float: left;
	margin: 25px 35px 0 0;
	background-image:url('mobile/toronja_perdedor.png');
	width: 242px;
	height: 486px;	
}

.liston_toronja{
	width: 242px;
	height: 51px;
	margin-top: 410px;
	background-image:url('liston_toronja.png');
}

.frame{
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	width:820px;
	height: 90%;
	text-align: center;
	padding-bottom: 20px;
}

.frame2{
	margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:820px;
  height: 85%;
  text-align: center;
  padding-bottom: 20px;
}

.footer{
	font-family: "Arial";
	padding-top: 20px;
	text-align: center;
	height: 20px;
	width: 100%;
	float: left;
}

.mensaje{
	font-family: "Arial";
	text-align: center;
	width: 100%;
	float: left;
}

.numeros_votacion{
	font-family: "Arial";
	color: white;
	padding-top: 12px;
	margin-left: 45px;
	font-size: 24px;	
}
