<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Josecuervo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">
		window.onload = function() {
			if (navigator.userAgent.match(/BlackBerry/i)) {
				$("#footer")[0].className="footer2";
			}
			else {
				$("#footer")[0].className="footer";
			}
		}
	</script>

</head>
<body style="height: 100%;">

<%= yield %>

<div id="footer">
		<a href="http://www.josecuervoespecial.com.mx/terminoscredencial.html">Términos y Condiciones</a> CONOCER ES NO EXCEDERSE <a href="http://www.alcoholinformate.org.mx/">WWW.ALCOHOL-INFORMATE.COM.MX</a>
</div>

</body>
</html>
