<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Josecuervo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="height: 100%;">

<%= yield %>

<div class="footer">
		<a href="">Términos y Condiciones</a> CONOCER ES NO EXCEDERSE <a href="">WWW.ALCOHOL-INFORMATE.COM.MX</a>
</div>

</body>
</html>
